* {
	padding:0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Space Mono', monospace;
}



/*---------------------------- FONT ------------------------*/


@font-face {
    font-family: "Rajdhani-Bold";
    src: url("../font/Rajdhani-Bold.ttf");
}


@font-face {
    font-family: "Rajdhani-Medium";
    src: url("../font/Rajdhani-Medium.ttf");
}

@font-face {
    font-family: "Rajdhani-Regular";
    src: url("../font/Rajdhani-Medium.ttf");
}



body {
	background-color: black;
}

.blacknav {
	background-color: black;
}

.blackbar {
	background-color: 
	#0a0a0a
}

ul > li {
	text-decoration: none;
}

.mid {
	height: 100vh;
	background-color: #0a0a0a
}

#navBrand {
	margin-right: 0;
}

#petrol {
	max-width: 100%; 
	height: auto;
	margin: auto;
}

#profile {
	max-width: 100%;
	height: auto;
	margin: auto;
}

#projectreq {
	height: 15vh;
}

a {
	text-decoration: none;
}

#navBrand {
	font-family: 'Space Mono';
  	font-style: normal;
  	font-weight: 700;
}



#footer {
	font-size: 1.5vh;
}	


		  /* nav link hover           */
									
	
.naviLink:hover {
	text-decoration: line-through;
	color: black;


}


       /* DESKTOP             */
#header {
	font-family: "Rajdhani-Medium";
	font-size: 5.8em;
}

#intro {
	font-size: 1.2em;
}

             /* MOBILE               */

#header2 {
	font-family: "Rajdhani-Bold";
	font-size: 2.3em;

}

#intro2 {
	font-size: 0.6em;
}



 /*               project.index               */



 .webDesign {

	height: 100vh;
			
			

}
			
.webDesign:hover {
			
	background: url(../images/webDesignS.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	-webkit-animation: fade-in 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
	        animation: fade-in 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
				
				
		}




 

.graphicDesign {

	height: 100vh;
			
			

}
			
.graphicDesign:hover {
			
	background: url(../images/petrolS.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	-webkit-animation: fade-in 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
	        animation: fade-in 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
				
				
		}


.graphicDesign {

	height: 100vh;
			
			

}
			
.graphicDesign:hover {
			
	background: url(../images/petrolS.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	-webkit-animation: fade-in 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
	        animation: fade-in 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
				
				
		}

.photography {

	height: 100vh;
					
					
		
}
					
.photography:hover {
					
	background: url(../images/photographyS.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	-webkit-animation: fade-in 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
	        animation: fade-in 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
						
						
}

.digitalCollage {

	height: 100vh;
					
					
		
}
					
.digitalCollage:hover {
					
	background: url(../images/digitalCollageS.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	-webkit-animation: fade-in 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
	        animation: fade-in 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
						
						
}

.design {

	 font-family: "Rajdhani-Medium";
	 font-size: 1.4em;
	 opacity: 0.9;
	
	
	}

.frontEndHeader {

		font-family: "Rajdhani-Bold";
		font-size: 1.8em;
	   
	   
}




/* <----------------  frontend page -----------------> */







/*              ANIMATION                 */

/* ----------------------------------------------
 * Generated by Animista on 2018-7-3 16:24:40
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  






/* <----------------- underconstruction------------> */

.underconstructionMobile {
	font-family: "Space Mono";
	font-weight: bolder;
	font-size: 1.5em;
}



.underconstructionDesktop {
	font-family: "Space Mono";
	font-weight: bolder;
	font-size: 5em;
}






  



































  



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	#navChange {
		background-color: #191919
	}
	

#footer {
	font-size: 1.5vh;
	background-color: #191919
}	

	


}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	#navChange {
		background-color: #191919
	}
	

	#footer {
		font-size: 1.5vh;
		background-color: #191919
	}	





}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

  



}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	


	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {



}